.scholarships-index {
  margin: 0 auto;
  max-width: 1280px;

  &__item {
    background-color: $primary-blue;

    border-color: $primary-yellow;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;

    color: white;

    display: flex;
    flex-direction: column;

    padding-right: 40px;

    position: relative;

    .title {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: $primary-yellow;

      padding: 5px;
      margin-bottom: 5px;
    }
  }

  &__item-data {
    list-style-type: none;

    margin-bottom: 5px;

    span {
      font-weight: bold;
    }
  }

  &__item-actions {
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100%;

    list-style-type: none;

    position: absolute;
    right: 0;

    a {
      color: white;
      text-decoration: none;

      border-left-color: $primary-yellow;
      border-left-style: solid;
      border-left-width: 2px;

      display: flex;
      align-items: center;
      justify-content: center;

      flex: 1;

      padding-right: 8px;
      padding-left: 8px;
    }

    .actions__view {
      background-color: $success;
    }

    .actions__edit {
      background-color: $neutral;
    }

    .actions__delete {
      background-color: $danger;
    }
  }
}
