.scholarships-index {
  &__item {
    @extend %index-item;

    background-color: $primary-blue;

    border-color: $primary-yellow;

    color: white;

    display: flex;
    flex-direction: column;

    .title {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: $primary-yellow;

      padding: 5px;
      margin-bottom: 5px;
    }
  }

  &__item-data {
    list-style-type: none;

    margin-bottom: 5px;

    span {
      font-weight: bold;
    }
  }
}
