.header {
  background-color: $primary-blue;
  color: white;

  display: flex;
  align-items: center;

  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;

  position: sticky;
  top: 0;
  z-index: 1;

  height: 50px;

  &__logo {
    @extend %navlink-base;

    font-size: 1.5em;
  }
}

.navbar {
  display: flex;
  align-items: center;

  &__group {
    margin: 0 16px;
  }

  &__item {
    @extend %navlink-base;

    margin-left: 16px;
  }
}
